<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simply</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 
<body>
    <!-- <header>
        <div class="wrapper">
            <h1></h1>
        </div>
    </header> -->
    
    <div id="hero-image">
        <div class="wrapper">
            <h1 style="text-align: center; font-size:90px;"><strong>Welcome Admin</strong><br/>
                .........</h1>

        </div>
    </div>
    <section id="services" class="container">
        <h2 class="display-4 text-center mt-5 mb-3">Quick Links</h2>
        
        <div class="row text-center">
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://i.ibb.co/6gQVy0x/Programming-code-bug-sign.jpg" alt="Design">
                 <div class="card-body">
                    <h4 class="card-title">Project</h4>
                    <p class="card-text">Lets go to the project Dashboard and get some work done!</p>
                 </div>
                 <div class="card-footer py-4">
                    <button type="button" (click)="navigateToProject()"  class="btn btn-secondary">DASHBOARD &raquo;</button>
                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://i.ibb.co/c1CM4Lb/Programming-code-bug-sign.jpg" alt="Design">
                 <div class="card-body">
                    <h4 class="card-title">Employee</h4>
                       <p class="card-text">Lets go to the employee Dashboard and get some work done!</p>
                 </div>
                 <div class="card-footer py-4">
                    <button type="button" (click)="navigateToEmployee()"  class="btn btn-secondary">DASHBOARD &raquo;</button>
                 </div>
              </div>
           </div>
           
           <div class="col-md-4 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://i.ibb.co/CWCqyVd/Programming-code-bug-sign.jpg" alt="Design"> 
                 <div class="card-body">
                    <h4 class="card-title">Bug</h4>
                    <p class="card-text">Lets go to the bug Dashboard and get some work done!</p>
                 </div>
                 <div class="card-footer py-4">
                    <button type="button" (click)="navigateToBug()"  class="btn btn-secondary">DASHBOARD &raquo;</button>
                 </div>
              </div>
           </div>
        </div>
     </section>
 
    
  
    
</body>
</html>