<!-- <table class="table">
	<thead>
		<tr>
			<th>Bug Details</th>	
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bug Id</td>
			<td>{{selectedBug.bugId}}</td>		
		</tr>
		<tr>
			<td>Status</td>
			<td>{{selectedBug.status}}</td>
		</tr>
		<tr>
			<td>Assignee</td>
			<td>{{selectedBug.assignee}}</td>
        </tr>
        <tr>
			<td>Type</td>
			<td>{{selectedBug.type}}</td>
        </tr>
        <tr>
			<td>Priority</td>
			<td>{{selectedBug.priority}}</td>
        </tr>	
        
        <tr>
			<td>Start Date</td>
			<td>{{selectedBug.startDate}}</td>
        </tr>
        <tr>
			<td>End Date</td>
			<td>{{selectedBug.endDate}}</td>
        </tr>
        <tr>
			<td>Description</td>
			<td>{{selectedBug.bugDesc}}</td>
		</tr>
	</tbody>
</table> -->

<!-- <table class='table table-striped table-bordered table-hover'>
	<caption ><h2>Bug Details</h2>  </caption>
	<thead  style="background-color:rgb(220, 255, 196);">
		<tr>
			<th>Bug Id</th>
			<th>Status</th>
			<th>Bug Assignee</th>
			<th>Type</th>
			<th>Priority</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{selectedBug.bugId}}</td>		
			<td>{{selectedBug.status}}</td>
			<td>{{selectedBug.assignee}}</td>
			<td>{{selectedBug.type}}</td>
			<td>{{selectedBug.priority}}</td>
			<td>{{selectedBug.startDate}}</td>
			<td>{{selectedBug.endDate}}</td>
			<td>{{selectedBug.bugDesc}}</td>
        </tr>
	</tbody>
</table> -->


<caption style="text-align: center;"><h2>Bug Details</h2>  </caption>

<table class='table table-striped table-bordered table-hover'>
	
	<tbody>
		<tr>
			<td>Bug Id</td>
			<td>{{selectedBug.bugId}}</td>		
		</tr>
		<tr>
			<td>Status</td>
			<td>{{selectedBug.status}}</td>
		</tr>
		<tr>
			<td>Assignee</td>
			<td>{{selectedBug.assignee}}</td>
        </tr>
        <tr>
			<td>Type</td>
			<td>{{selectedBug.type}}</td>
        </tr>
        <tr>
			<td>Priority</td>
			<td>{{selectedBug.priority}}</td>
        </tr>	
        
        <tr>
			<td>Start Date</td>
			<td>{{selectedBug.startDate}}</td>
        </tr>
        <tr>
			<td>End Date</td>
			<td>{{selectedBug.endDate}}</td>
        </tr>
        <tr>
			<td>Description</td>
			<td>{{selectedBug.bugDesc}}</td>
		</tr>
	</tbody>
</table>

