
<table  class='table table-striped table-bordered table-hover'>

  <caption ><h2>All Employees</h2>  </caption>

    <thead style="background-color:rgb(220, 255, 196);">
      <tr>
        <th (click)="sortById()">Employee Id</th>
        <th (click)="sortByName()">Employee Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Status</th>
        <th>Username</th>
        <th>Password</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees;">
        
        <td><a [routerLink]="['/employee',employee.empId]">{{employee.empId}} </a></td>
        <td>{{employee.empName}}</td>
        <td>{{employee.employeeEmail}}</td>
        <td>{{employee.employeeContact}}</td>
        <td>{{employee.empStatus}}</td>
        <td>{{employee.employeeUserId}}</td>
        <td>{{employee.employeePassword}}</td>
        
      </tr>
    </tbody>
  </table>

