<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h2> Admin Registration</h2>
          <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="adminId" placeholder="Admin Id" [(ngModel)]="admin.adminId">
                <span *ngIf="signUp.get('adminId').touched && signUp.get('adminId').hasError('required')">Enter Admin Id</span>
                
              </div>

              <div class="form-group">
                <input type="text" class="form-control" formControlName="adminName" placeholder="Full Name" [(ngModel)]="admin.adminName">
                <span *ngIf="signUp.get('adminName').touched && signUp.get('adminName').hasError('required')">Enter Name</span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="adminContact" placeholder="Contact No"  [(ngModel)]="admin.adminContact">
                <span *ngIf="signUp.get('adminContact').touched && signUp.get('adminContact').hasError('required')">Enter Contact</span>
              </div>
            
           

            <div class="form-group">
                <input type="text" class="form-control" formControlName="adminUserid" placeholder="Enter Username" [(ngModel)]="admin.adminUserid">
                <span *ngIf="signUp.get('adminUserid').touched && signUp.get('adminUserid').hasError('required')">Enter UserName</span>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="adminPassword" placeholder="Enter Password" [(ngModel)]="admin.adminPassword">
                <span *ngIf="signUp.get('adminPassword').touched && signUp.get('adminPassword').hasError('required')">Enter Password</span>
               <!-- <span *ngIf="signUp.get('apassword').touched && signUp.get('apassword').hasError('pattern')"> Password must contain minimum eight characters, at least one letter, one number and one special character</span>-->
              </div>


              
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!signUp.valid">Add Admin</button>
              </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  



